<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.winnieshoecentrenakawa">
<uses-permission android:name="android.permission.INTERNET"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shoes"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinnieShoeCentreNakawa">
        <activity android:name=".Order"></activity>
        <activity android:name=".Canvas" />
        <activity android:name=".Open" />
        <activity android:name=".Pumps" />
        <activity android:name=".Jungles" />
        <activity android:name=".ShoeSamples" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>